.titleMain
    font-size: 5rem
    font-family: $gilExBold

.titleBig
    font-size: 3rem
    font-family: $gilBold

.title
    font-size: 1.8rem
    font-family: $gilSemBold

.link
    font-size: 1.5rem
    font-family: $gilMed
    text-decoration: none
    color: #000;

.text
    font-size: 1.6rem
    font-family: $gilReg
    text-decoration: none
    color: #000;
.button
    width: 19rem
    border-radius: 9rem
    border: 0.1rem solid #8FA5A7
    padding: 1.6rem 5.2rem
    font-family: $gilMed 
    font-size: 1.6rem
    font-weight: 500

header

    .menu
        z-index: 100
        width: 140rem
        height: 7.2rem
        display: flex
        justify-content: space-between
        align-items: center
        padding-top: 3.8rem
        padding-bottom: 1.3rem
        position: absolute
        margin: 0 auto
        top: 0
        ul
            display: flex
            justify-content: space-between
            align-items: center
        .link
            text-transform: uppercase
            color: #fff
            margin-right: 3.5rem
        .contacts
            display: flex
            justify-content: center
            align-items: center

            .contacts-text
                display: flex
                flex-direction: column
                align-items: flex-end
                color: #fff
                margin-right: 1.5rem
                .text
                    color: #fff
            .icon
                width: 3.1rem
                height: 3.1rem
                img
                    width: 3.1rem
    
main
    
    .slider
         
        
        .swiper-container
            height: 65rem
            position: relative
            .nav-container
                width: 140rem
                margin: 0 auto
                
                .slider-nav
                    width: 28rem
                    position: absolute
                    z-index: 10
                    top: 31rem
                    .swiper-pagination
                        position: static
                        text-align: left
                        font-family: $gilReg
                        font-size: 2rem
                        font-weight: 400
                        .swiper-pagination-current
                            font-family: $gilMed
                            font-size: 4rem
                            font-weight: 600
                        .swiper-pagination-total
                            font-family: $gilReg
                            font-size: 2rem
                            font-weight: 400
                    .main-scrollbar
                        height: 0.3rem
                        background: rgba(255,255,255, 0.3);
                        .swiper-scrollbar-drag
                            background: #fff
            
            .swiper-pagination
                font-size: 3rem
                color: #fff
            .swiper-wrapper

                .swiper-slide
                    background: linear-gradient(103.73deg, rgba(0, 0, 0, 0.37) 27.13%, rgba(0, 0, 0, 0) 64.84%), linear-gradient(87.3deg, rgba(0, 0, 0, 0.37) 18.53%, rgba(0, 0, 0, 0) 50.93%), url('../img/header-bg.png') no-repeat
                    .slide1
                        height: 65rem
                        background: linear-gradient(103.73deg, rgba(0, 0, 0, 0.37) 27.13%, rgba(0, 0, 0, 0) 64.84%), linear-gradient(87.3deg, rgba(0, 0, 0, 0.37) 18.53%, rgba(0, 0, 0, 0) 50.93%), url('../img/header-bg.png') no-repeat
                        background-size: cover

                       

                    .slide2
                        height: 65rem
                        background: url('../img/slide2.png') no-repeat
                        background-size: cover
                    

                    .slide1,
                    .slide2
                        display: flex
                        align-items: center
                        .container
                            display: flex
                            justify-content: space-between
                            align-items: center
                            margin-top: 9rem
                            .slide-left
                                width: 28rem
                                position: relative

                                margin-top: 10rem
                                       
                                            
                                        
                                        
                                    
                                .left-slide-text

                                    .title,
                                    .text
                                        color: #fff
                                        font-size: 1.5rem
                                        font-family: $gilLig
                                    .title
                                        margin-bottom: 2rem
                                        font-weight: 700;
                                        font-family: $gilMed

                            .slide-right
                                width: 50rem
                            .right-slide-text
                                    
                                .titleBig,
                                .titleMain,
                                .text
                                    color: #fff

                                .titleBig
                                    font-size: 2rem
                                    font-weight: 700

                                .titleMain
                                    margin: 5rem auto
                                    font-weight: 700
                                    line-height: 6.2rem
                                
                                .text
                                    width: 45.5rem


                        
    .mini-info 
            
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1E4653), color-stop(60%,#1E4653), color-stop(60%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))) 
            height: 21.6rem
            .container
                display: flex
                align-items: center
                .mini-left
                    width: 87rem
                    padding: 3.5rem 0;

                    display: flex
                    align-items: center
                    justify-content: space-between

                    img
                        height: 14.5rem
                        
                        


                    .info-left,
                    .info-right
                        display: flex
                        justify-content: center
                        flex-direction: column
                        width: 38rem
                        
                        
                        .title
                            font-size: 1.6rem
                            font-family: $gilBold
                            color: #fff
                            margin-bottom: 1.5rem
                            font-weight: 700
                        .text
                            font-size: 1.6rem
                            color: #fff
                            font-family: $gilLig
                            font-weight: 300
                    .info-right
                        padding-right: 0rem

                    
                .mini-right
                    width: 52rem
                    display: flex
                    justify-content: center
                    flex-direction: column
                    padding: 5rem 0;
                    padding-left: 8rem
                    .right-container
                        width: 36rem

                        .title
                            font-size: 1.8rem
                            font-family: $gilBold
                            margin-bottom: 1.5rem
                            font-weight: 700
                            color: #383838
                        .text
                            font-size: 1.6rem
                            font-family: $gilLig
                            font-weight: 300
                            margin-bottom: 1.5rem
                            color: #383838
                        .link
                            font-size: 1.6rem
                            font-family: $gilLig
                            font-weight: 300
                            color: #383838
                            &::after
                                content: '>'
                                margin-left: 1rem


    .mini-info:after
            content: ''
            position: absolute
            right: 0
            width: 40%
            height: 21.6rem
            background-color: #fff
            z-index: -1


    .main-about
        background: #1A3C47;
        height: 77rem
        .container
            display: flex
            align-items: flex-end
            .items
                display: flex
                flex-direction: column
                align-items: center
                margin-top: 18rem
                .titleMain
                    font-weight: 700
                    color: #ffffff
                    margin-bottom: 5rem
                    span
                        color: #8FA5A7
                .items-container
                    display: flex
                    justify-content: center

                    .item
                        position: relative
                        width: 35rem
                        height: 54.4rem

                        img
                            position: absolute
                        .bloom
                            width: 100%
                            height: 100%
                            position: absolute
                            background: linear-gradient(150.86deg, #2D3238 7.79%, #4D5156 96.75%), linear-gradient(153.55deg, #515349 4.2%, #8C8C8C 96.78%), rgba(41, 41, 47, 0.1)
                            opacity: .3
                        .item-text
                            position: relative
                            padding: 5rem 2rem
                            .title,
                            .text,
                                color: #fff
                                position: relative
                            .title
                                margin-bottom: 1.5rem

                            
                        .link
                            color: #fff
                            position: absolute
                            bottom: 10rem
                            left: -6rem
                            transform: rotate(-90deg)
                            text-transform: uppercase
                            letter-spacing: 1rem

    .companies
        margin-top: 10rem
        margin-bottom: 13.5rem
        .container
            
            .companies-head
                .titleMain
                    font-weight: 700
                    color: #000
                    margin-bottom: 6rem
                    span
                        color: #8FA5A7
            .companies-content
                display: flex
                justify-content: space-between
                align-items: center
                flex-wrap: wrap
                .content-item
                    width: 41.5rem
                    margin-right: 2.5rem
                    position: relative
                    display: flex
                    justify-content: flex-end
                    .content-back
                        background: #BDD1E8;
                        width: 30rem
                        height: 25rem
                        position: relative

                        .titleBig
                            position: absolute
                            font-family: $gilExBold
                            font-weight: 700
                            left: -10rem
                            top: 5rem
                        .text
                            position: absolute
                            font-family: $gilMed
                            font-weight: 500
                            bottom: -2rem
                            left: 16rem
                            width: 10rem
                            
                    .link
                        color: #000
                        font-family: $gilLig
                        font-weight: 300
                        position: absolute
                        bottom: 9rem
                        right: -11rem
                        transform: rotate(-90deg)
                        text-transform: uppercase
                        letter-spacing: 1rem


    .sliders
        .titleMain
            font-weight: 700
            color: #ffffff
            margin-bottom: 5rem
            span
                color: #8FA5A7
        background: linear-gradient(180deg, #1A3C47 0%, #11252C 100%);
        .projects-slider
            padding-bottom: 8rem
            .swiper-projects-container
                width: 100%
                height: 100%
                overflow: hidden
                .slider-head
                    display: flex
                    justify-content: space-between
                   
                    width: 140rem
                    position: absolute
                    top: 23rem
                    z-index: 3
                    .slider-nav
                        width: 33rem
                        position: relative
                        .navigation
                            display: flex
                            flex-direction: column
                            .projects-scrollbar
                                height: 0.3rem
                                background: rgba(255,255,255, 0.3);
                                .swiper-scrollbar-drag
                                    background: #fff
                                    width: 100%
                            .main-nav
                                display: flex
                                align-items: center
                                justify-content: space-between
                                .nav-buttons
                                    display: flex
                                    align-items: center
                                    justify-content: space-between
                                    position: relative
                                    width: 13rem
                                    .swiper-button-prev,
                                    .swiper-button-next
                                        background-size: 2rem 5.5rem;
                                        fill: #fff !important
                                        height: 5.2rem
                                        width: 2.7rem
                                        position: static
                                        margin-top: 0
                                    
                                    
                                        

                                .swiper-projects-pagination
                                    color: #fff
                                    position: static
                                    text-align: left
                                    font-family: $gilReg
                                    font-size: 2rem
                                    font-weight: 400
                                    .swiper-pagination-current
                                        font-family: $gilMed
                                        font-size: 4rem
                                        font-weight: 600

                                    .swiper-pagination-total
                                        font-family: $gilReg
                                        font-size: 2rem
                                        font-weight: 400
                            
                        
                                       
                                         
                                

                .swiper-wrapper

                    .swiper-slide 
                        text-align: center
                        width: 50rem
                        height: 95rem
                        

                        /* Center slide text vertically */
                        display: -webkit-box
                        display: -ms-flexbox
                        display: -webkit-flex
                        display: flex
                        -webkit-box-pack: center
                        -ms-flex-pack: center
                        -webkit-justify-content: center
                        justify-content: center
                        -webkit-box-align: center
                        -ms-flex-align: center
                        -webkit-align-items: center
                        align-items: center
                    
                    .project-slide
                        position: relative
                        .text-container
                            display: flex
                            flex-direction: column
                            align-items: center
                            z-index: 10
                            margin-top: 20rem
                            img
                                width: 5.2rem
                                margin-bottom: 2rem
                            .title
                                font-family: $gilSemBold
                                font-size: 1.6rem
                                font-weight: 700
                                color: #8FA5A7
                                margin-bottom: 0.5rem
                            .text
                                color: #fff
                                font-size: 2.7rem
                                font-weight: 700
                                font-family: $gilSemBold
                                margin-bottom: 3rem
                            .link
                                color: #8FA5A7
                        .projects-bg-img
                            position: absolute
                            opacity: 0;
                            transition: .3s ease-in
                            width: 100%
                            height: 100%
                        .projects-bg-img.active
                            opacity: .4
                        
        .news-slider
            padding-bottom: 14.5rem

            .swiper-news-container
                width: 100%
                height: 100%
                overflow: hidden
                .slider-head
                    display: flex
                    justify-content: space-between
                    .slider-nav
                        width: 33rem
                        
                        .navigation
                            display: flex
                            flex-direction: column
                            .news-scrollbar
                                height: 0.3rem
                                background: rgba(255,255,255, 0.3);
                                .swiper-scrollbar-drag
                                    background: #fff
                                    
                            .main-nav
                                display: flex
                                align-items: center
                                justify-content: space-between
                                .nav-buttons
                                    display: flex
                                    align-items: center
                                    justify-content: space-between
                                    position: relative
                                    width: 13rem
                                    .swiper-button-prev,
                                    .swiper-button-next
                                        background-size: 2rem 5.5rem;
                                        fill: #fff !important
                                        height: 5.2rem
                                        width: 2.7rem
                                        position: static
                                        margin-top: 0
                                
                                    
                                        

                                .swiper-news-pagination
                                    color: #fff
                                    position: static
                                    text-align: left
                                    font-family: $gilReg
                                    font-size: 2rem
                                    font-weight: 400
                                    .swiper-pagination-current
                                        font-family: $gilMed
                                        font-size: 4rem
                                        font-weight: 600

                                    .swiper-pagination-total
                                        font-family: $gilReg
                                        font-size: 2rem
                                        font-weight: 400
                                    
                .swiper-wrapper

                    .swiper-slide 
                        width: 49rem
                        height: 49rem
                        text-align: center
                        font-size: 18px
                        background: #fff

                        /* Center slide text vertically */
                        display: -webkit-box
                        display: -ms-flexbox
                        display: -webkit-flex
                        display: flex
                        -webkit-box-pack: center
                        -ms-flex-pack: center
                        -webkit-justify-content: center
                        justify-content: center
                        -webkit-box-align: center
                        -ms-flex-align: center
                        -webkit-align-items: center
                        align-items: center
                        
                        .swiper-slide-shadow-left,
                        .swiper-slide-shadow-right
                            background-image: linear-gradient(to left,rgba(0,0,0,0.3),rgba(0,0,0,0.3))

    .contact-form
        background: #F2F2F2
        .container
            padding: 12.5rem 0
            position: relative
            display: flex
            justify-content: space-between
            .contacts
                padding: 6.5rem 0
                width: 41.7rem
                .titleMain
                    font-weight: 700
                    color: #000
                    margin-bottom: 5rem
                    span
                        color: #8FA5A7
                .title
                    font-family: $gilBold
                    font-size: 1.6rem
                    font-weight: 700
                    color: #8FA5A7
                .text
                    font-family: $gilSemBold
                    font-size: 2rem
                    font-weight: 600
                    color: #2f2f2f
                    margin-bottom: 3rem
                .text.phone
                    font-family: $gilSemBold
                    font-size: 3rem
                    font-weight: 600
                    color: #2f2f2f
            .img-container
                position: absolute
                right: 28rem
                top: 10rem
                
                width: 115rem
                img
                    position: absolute
                    mix-blend-mode: multiply
                    width: 115rem
                img:last-child
                    width: 86.5rem
                    right: -5rem
                    top: 13rem
            
            form
                background: rgb(238,238,238)
                background: linear-gradient(73deg, #eeeeee 5%, #f7f7f7 10%)
                display: flex
                flex-direction: column
                align-items: center
                z-index: 3
                width: 59.7rem
                padding: 6.5rem 4.9rem
                position: relative
                .titleMain
                    font-weight: 700
                    color: #000
                    margin-bottom: 5rem
                    span
                        color: #8FA5A7
                input[type=text],
                input[type=email]
                    background: none
                    border: 0
                    border-bottom: 0.1rem solid #8FA5A7
                    width: 100%
                    padding: 1rem 0.5rem
                    margin: 1rem 0 4.5rem
                    font-family: $gilSemBold
                    font-size: 2.2rem
                    font-weight: 600
                    color: #2f2f2f

                .button
                    width: 19rem
                    border-radius: 9rem
                    border: 0.1rem solid #8FA5A7
                    background: none
                    padding: 1.6rem 5.2rem
                    font-family: $gilMed 
                    font-size: 1.6rem
                    font-weight: 500
                .form-label
                    display: flex
                    align-self: start
                    justify-content: flex-start
                    font-family: $gilBold
                    font-size: 1.4rem
                    font-weight: 700
                    color: #8FA5A7
                    text-transform: uppercase


footer
    border-top: 0.1rem solid #C9CDCD   
    background: #F2F2F2

    .container
        padding: 5.5rem 0 3rem
        display: flex
        justify-content: space-between
        align-items: center
        .footer-company-logo
            display: flex
            justify-content: space-between
            align-items: center
            img
                margin-right: 2rem

            .text
                width: 22rem
                line-height: 2.4rem
        .request-logo
            display: flex
            justify-content: space-between
            align-items: center
            
            img
                width: 4.4rem
                height: 4.4rem
            .text
                width: 18.4rem
                margin-right: 2rem
                span
                    text-transform: uppercase
                    text-decoration: underline

            

    