.titleMain
    font-size: 5rem
    font-family: $gilExBold

.titleBig
    font-size: 3rem
    font-family: $gilBold

.title
    font-size: 1.8rem
    font-family: $gilSemBold

.link
    font-size: 1.5rem
    font-family: $gilMed
    text-decoration: none
    color: #000;

.text
    font-size: 1.6rem
    font-family: $gilReg
    text-decoration: none
    color: #000;


header

    .menu
        z-index: 100
        width: 140rem
        height: 7.2rem
        display: flex
        justify-content: space-between
        align-items: center
        padding-top: 3.8rem
        padding-bottom: 1.3rem
        position: absolute
        margin: 0 auto
        top: 0
        ul
            display: flex
            justify-content: space-between
            align-items: center
        .link
            text-transform: uppercase
            color: #fff
            margin-right: 3.5rem
        .contacts
            display: flex
            justify-content: center
            align-items: center

            .contacts-text
                display: flex
                flex-direction: column
                align-items: flex-end
                color: #fff
                margin-right: 1.5rem
                .text
                    color: #fff
            .icon
                width: 3.1rem
                height: 3.1rem
                img
                    width: 3.1rem
    
main
    
    .slider
         
        
        .swiper-container
            height: 65rem

            .swiper-pagination
                font-size: 3rem
                color: #fff
            .swiper-wrapper

                .swiper-slide
                    background: linear-gradient(103.73deg, rgba(0, 0, 0, 0.37) 27.13%, rgba(0, 0, 0, 0) 64.84%), linear-gradient(87.3deg, rgba(0, 0, 0, 0.37) 18.53%, rgba(0, 0, 0, 0) 50.93%), url('../img/header-bg.png') no-repeat
                    .slide1
                        height: 65rem
                        background: linear-gradient(103.73deg, rgba(0, 0, 0, 0.37) 27.13%, rgba(0, 0, 0, 0) 64.84%), linear-gradient(87.3deg, rgba(0, 0, 0, 0.37) 18.53%, rgba(0, 0, 0, 0) 50.93%), url('../img/header-bg.png') no-repeat
                        background-size: cover

                       

                    .slide2
                        height: 65rem
                        background: url('../img/slide2.png') no-repeat
                        background-size: cover
                    

                    .slide1,
                    .slide2
                        display: flex
                        align-items: center
                        .container
                            display: flex
                            justify-content: space-between
                            align-items: center
                            margin-top: 9rem
                            .slide-left
                                width: 28rem
                                position: relative

                                .slider-nav

                                    .swiper-pagination
                                        position: static
                                        text-align: left
                                        font-family: $gilReg
                                        font-size: 2rem
                                        font-weight: 400
                                        .swiper-pagination-current
                                            font-family: $gilMed
                                            font-size: 4rem
                                            font-weight: 600

                                        .swiper-pagination-total
                                            font-family: $gilReg
                                            font-size: 2rem
                                            font-weight: 400

                                    .swiper-progress-bar 
                                       
                                            
                                        
                                        
                                    
                                .left-slide-text

                                    .title,
                                    .text
                                        color: #fff
                                        font-size: 1.5rem
                                        font-family: $gilLig
                                    .title
                                        margin-bottom: 2rem
                                        font-weight: 700;
                                        font-family: $gilMed

                            .slide-right
                                width: 50rem
                            .right-slide-text
                                    
                                .titleBig,
                                .titleMain,
                                .text
                                    color: #fff

                                .titleBig
                                    font-size: 2rem
                                    font-weight: 700

                                .titleMain
                                    margin: 5rem auto
                                    font-weight: 700
                                    line-height: 6.2rem
                                
                                .text
                                    width: 45.5rem


                        
    .mini-info 
            
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1E4653), color-stop(60%,#1E4653), color-stop(60%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))) 
            height: 21.6rem
            .container
                display: flex
                align-items: center
                .mini-left
                    width: 87rem
                    padding: 3.5rem 0;

                    display: flex
                    align-items: center
                    justify-content: space-between

                    img
                        height: 14.5rem
                        
                        


                    .info-left,
                    .info-right
                        display: flex
                        justify-content: center
                        flex-direction: column
                        width: 38rem
                        
                        
                        .title
                            font-size: 1.6rem
                            font-family: $gilBold
                            color: #fff
                            margin-bottom: 1.5rem
                            font-weight: 700
                        .text
                            font-size: 1.6rem
                            color: #fff
                            font-family: $gilLig
                            font-weight: 300
                    .info-right
                        padding-right: 0rem

                    
                .mini-right
                    width: 52rem
                    display: flex
                    justify-content: center
                    flex-direction: column
                    padding: 5rem 0;
                    padding-left: 8rem
                    .right-container
                        width: 36rem

                        .title
                            font-size: 1.8rem
                            font-family: $gilBold
                            margin-bottom: 1.5rem
                            font-weight: 700
                            color: #383838
                        .text
                            font-size: 1.6rem
                            font-family: $gilLig
                            font-weight: 300
                            margin-bottom: 1.5rem
                            color: #383838
                        .link
                            font-size: 1.6rem
                            font-family: $gilLig
                            font-weight: 300
                            color: #383838
                            &::after
                                content: '>'
                                margin-left: 1rem


    .mini-info:after
            content: ''
            position: absolute
            right: 0
            width: 40%
            height: 21.6rem
            background-color: #fff
            z-index: -1


    .main-about
        background: #1A3C47;
        height: 77rem
        .container
            display: flex
            align-items: flex-end
            .items
                display: flex
                flex-direction: column
                align-items: center
                margin-top: 18rem
                .titleMain
                    font-weight: 700
                    color: #ffffff
                    margin-bottom: 5rem
                    span
                        color: #BDB0A0
                .items-container
                    display: flex
                    justify-content: center

                    .item
                        position: relative
                        width: 35rem
                        height: 54.4rem

                        img
                            position: absolute
                        .bloom
                            width: 100%
                            height: 100%
                            position: absolute
                            background: linear-gradient(150.86deg, #2D3238 7.79%, #4D5156 96.75%), linear-gradient(153.55deg, #515349 4.2%, #8C8C8C 96.78%), rgba(41, 41, 47, 0.1)
                            opacity: .3
                        .item-text
                            position: relative
                            padding: 5rem 2rem
                            .title,
                            .text,
                                color: #fff
                                position: relative
                            .title
                                margin-bottom: 1.5rem

                            
                        .link
                            color: #fff
                            position: absolute
                            bottom: 10rem
                            left: -6rem
                            transform: rotate(-90deg)
                            text-transform: uppercase
                            letter-spacing: 1rem


    .sliders
        background: linear-gradient(180deg, #1A3C47 0%, #11252C 100%);
    

    