@font-face {
  font-family: "Gilroy Regular";
    font-family-src: url("../fonts/gilReg/gilroy-regular.ttf");
      font-family-src-font-display: swap; }

@font-face {
  font-family: "Gilroy Light";
    font-family-src: url("../fonts/gilLig/Gilroy-Light.ttf");
      font-family-src-font-display: swap; }

@font-face {
  font-family: "Gilroy Extra Light";
    font-family-src: url("../fonts/gilExLight/Gilroy-UltraLight.ttf");
      font-family-src-font-display: swap; }

@font-face {
  font-family: "Gilroy Medium";
    font-family-src: url("../fonts/gilMed/gilroy-medium.ttf");
      font-family-src-font-display: swap; }

@font-face {
  font-family: "Gilroy Bold";
    font-family-src: url("../fonts/gilBold/gilroy-bold.ttf");
      font-family-src-font-display: swap; }

@font-face {
  font-family: "Gilroy Extra Bold";
    font-family-src: url("../fonts/gilExBold/Gilroy-ExtraBold.ttf");
      font-family-src-font-display: swap; }

@font-face {
  font-family: "Gilroy Semi Bold";
    font-family-src: url("../fonts/gilSemBold/gilroy-semibold.ttf");
      font-family-src-font-display: swap; }

* {
  box-sizing: border-box; }

html {
  font-family: "Gilroy Regular", sans-serif;
  font-size: 62.5%;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000; }

body, input, textarea {
  font-family: "Gilroy Regular", sans-serif;
  font-size: 62.5%;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  position: relative;
  margin: 0;
  padding: 0; }

a, a:hover {
  text-decoration: none; }

button, input, a, textarea {
  outline: none;
  cursor: pointer; }
  button:focus, input:focus, a:focus, textarea:focus {
    outline: none; }
  button:active, input:active, a:active, textarea:active {
    outline: none; }

h1, h2, h3, h4, h5, h6 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: unset;
  margin: 0;
  padding: 0; }

p {
  margin-top: 0;
  margin-bottom: 0; }

img {
  max-width: 100%;
  vertical-align: middle;
    vertical-align-width: 100%; }

.btn {
  border: none; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  width: 140rem;
  margin: 0 auto;
  position: relative;
  max-width: unset; }

.hidden {
  overflow: hidden; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

@media (max-width: 108em) {
  html {
    font-size: 9px; } }

@media (max-width: 105em) {
  html {
    font-size: 8.75px; } }

@media (max-width: 91.5em) {
  html {
    font-size: 7.9px; } }

@media (max-width: 91em) {
  html {
    font-size: 8.4px; } }

@media (max-width: 90em) {
  html {
    font-size: 7.9px; } }

@media (max-width: 80em) {
  html {
    font-size: 7.2px; } }

@media (max-width: 72em) {
  html {
    font-size: 6.5px; } }

@media (max-width: 68em) {
  html {
    font-size: 6px; } }

@media (max-width: 64em) {
  html {
    font-size: 5.5px; } }

@media (max-width: 60em) {
  html {
    font-size: 5.2px; } }

@media (max-width: 55em) {
  html {
    font-size: 5px; } }

@media (max-width: 51em) {
  html {
    font-size: 4.5px; } }

@media (max-width: 48em) {
  html {
    font-size: 10px;
    -webkit-text-size-adjust: none; }
  body {
    -webkit-text-size-adjust: none; }
  .container {
    padding: 0;
    margin: 0 auto;
    width: 100%; } }

@media (max-width: 44em) {
  html {
    font-size: 9px; } }

@media (max-width: 38em) {
  html {
    font-size: 8px; } }

@media (max-width: 34em) {
  html {
    font-size: 7px; } }

@media (max-width: 30em) {
  html {
    font-size: 6px; } }

@media (max-width: 26em) {
  html {
    font-size: 5px; } }

@media (max-width: 22.5em) {
  html {
    font-size: 4.5px; } }

@media (max-width: 21em) {
  html {
    font-size: 4.4px; } }

html {
  background: #f2f2f2; }

.titleMain {
  font-size: 5rem;
  font-family: "Gilroy Bold", sans-serif;
  font-weight: 700;
  color: #414141; }

.titleBig {
  font-size: 3rem;
  font-family: "Gilroy Bold", sans-serif;
  font-weight: 700;
  color: #414141; }

.title {
  font-size: 2rem;
  font-family: "Gilroy Bold", sans-serif;
  font-weight: 700;
  color: #414141; }

.subtitle {
  font-size: 1.8rem;
  font-family: "Gilroy Bold", sans-serif;
  font-weight: 700;
  color: #414141; }

.text {
  font-size: 1.8rem;
  font-family: "Gilroy Regular", sans-serif;
  font-weight: 400;
  color: #414141; }

.link {
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #414141;
  font-family: "Gilroy Regular", sans-serif;
  font-weight: 400; }

.link-arrowed {
  width: 23.7rem;
  position: relative;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #414141;
  font-family: "Gilroy Regular", sans-serif;
  font-weight: 400;
  border-bottom: 0.1rem solid #afafaf;
  padding: 1rem 0; }

.link-arrowed::after {
  background: url("../img/arrow-r-dark.png") no-repeat;
  background-size: 2.5rem 1.8rem;
  position: absolute;
  right: 0;
  display: inline-block;
  width: 2.5rem;
  height: 1.8rem;
  content: ''; }

header .header-contact {
  border-bottom: 0.1rem solid #afafaf;
  height: 9rem;
  display: flex;
  align-items: center; }
  header .header-contact .container {
    display: flex;
    align-items: center; }
    header .header-contact .container .contact-item {
      width: 35.6rem;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      height: 9rem;
      padding-top: 1rem; }
      header .header-contact .container .contact-item .phone {
        color: #E63312;
        font-family: "Gilroy Semi Bold", sans-serif;
        font-weight: 600; }
      header .header-contact .container .contact-item .email-container {
        display: flex;
        align-items: center; }
        header .header-contact .container .contact-item .email-container img {
          height: 2rem;
          margin-right: 1rem; }
      header .header-contact .container .contact-item .search-container {
        display: flex;
        align-items: center; }
        header .header-contact .container .contact-item .search-container img {
          height: 2rem;
          margin-right: 1rem; }
    header .header-contact .container .contact-item:first-child {
      justify-content: flex-start;
      width: 35.4rem;
      padding-right: 8rem; }
    header .header-contact .container .contact-item::after {
      content: '';
      width: 0.1rem;
      height: 1.5rem;
      background: #afafaf;
      position: absolute;
      right: 0;
      bottom: 0; }
    header .header-contact .container .contact-item:last-child::after {
      width: 0; }
    header .header-contact .container .contact-item:last-child {
      width: 36.6rem; }

header .menu {
  border-bottom: 0.1rem solid #afafaf;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  header .menu .container {
    display: flex;
    justify-content: center;
    align-items: center; }
    header .menu .container .menu-container {
      width: 69rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.5rem; }

main {
  background: #f2f2f2; }
  main .main-slider {
    background: url("../img/slider-bg.png") no-repeat;
    mix-blend-mode: multiply;
    padding: 7.5rem 0 26.5rem; }
    main .main-slider .container {
      display: flex;
      justify-content: center;
      align-items: center; }
      main .main-slider .container .main__slider-container {
        height: 55rem;
        width: 100%;
        overflow: visible; }
        main .main-slider .container .main__slider-container .main__swiper-wrapper .main__swiper-slide {
          display: flex;
          align-items: flex-end; }
          main .main-slider .container .main__slider-container .main__swiper-wrapper .main__swiper-slide .slide-left .subtitle {
            color: #1A3C47;
            font-size: 1.8rem; }
          main .main-slider .container .main__slider-container .main__swiper-wrapper .main__swiper-slide .slide-left .titleMain {
            color: #E63312;
            font-family: "Gilroy Regular", sans-serif;
            font-weight: 400;
            width: 64rem;
            margin: 2rem 0 8rem; }
            main .main-slider .container .main__slider-container .main__swiper-wrapper .main__swiper-slide .slide-left .titleMain span {
              color: #414141; }
          main .main-slider .container .main__slider-container .main__swiper-wrapper .main__swiper-slide .slide-left .text-container {
            display: flex;
            align-items: center; }
            main .main-slider .container .main__slider-container .main__swiper-wrapper .main__swiper-slide .slide-left .text-container .text-item1 {
              width: 46rem;
              margin-right: 11.5rem; }
              main .main-slider .container .main__slider-container .main__swiper-wrapper .main__swiper-slide .slide-left .text-container .text-item1 .text {
                line-height: 2.6rem; }
            main .main-slider .container .main__slider-container .main__swiper-wrapper .main__swiper-slide .slide-left .text-container .text-item2 {
              width: 50rem; }
              main .main-slider .container .main__slider-container .main__swiper-wrapper .main__swiper-slide .slide-left .text-container .text-item2 .title,
              main .main-slider .container .main__slider-container .main__swiper-wrapper .main__swiper-slide .slide-left .text-container .text-item2 .text {
                color: #1A3C47;
                font-family: "Gilroy Bold", sans-serif;
                font-weight: 700; }
              main .main-slider .container .main__slider-container .main__swiper-wrapper .main__swiper-slide .slide-left .text-container .text-item2 .title {
                margin-bottom: 1rem; }
          main .main-slider .container .main__slider-container .main__swiper-wrapper .main__swiper-slide .slide-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 45%;
            position: absolute;
            right: 0; }
        main .main-slider .container .main__slider-container .swiper-navigation {
          display: flex;
          align-items: flex-end;
          position: absolute;
          right: 0;
          top: 7.5rem;
          /* custmm bullets style */ }
          main .main-slider .container .main__slider-container .swiper-navigation .swiper-pagination {
            position: static; }
          main .main-slider .container .main__slider-container .swiper-navigation .swiper-pagination-bullet {
            width: 2rem;
            height: 6rem;
            background: none;
            text-align: center;
            line-height: 20px;
            font-size: 0px;
            color: #000;
            opacity: 1;
            position: relative; }
          main .main-slider .container .main__slider-container .swiper-navigation .swiper-pagination-bullet > span::after {
            content: " ";
            position: absolute;
            display: block;
            bottom: 0;
            left: 50%;
            margin-top: 1rem;
            width: 2px;
            height: 1rem;
            background: #afafaf; }
          main .main-slider .container .main__slider-container .swiper-navigation .swiper-pagination-bullet-active > span::after {
            background: #E63312;
            height: 2rem; }
          main .main-slider .container .main__slider-container .swiper-navigation .swiper-pagination-bullet-active {
            background: none;
            width: 2.8rem;
            color: #E63312;
            font-size: 3rem; }
          main .main-slider .container .main__slider-container .swiper-navigation .swiper-pagination-bullets {
            display: flex;
            align-items: flex-end;
            justify-content: center; }
          main .main-slider .container .main__slider-container .swiper-navigation .swiper-buttons {
            display: flex;
            margin-left: 5rem; }
            main .main-slider .container .main__slider-container .swiper-navigation .swiper-buttons .swiper-button-next {
              background-image: url("../img/arrow-r.png");
              margin-left: 2rem; }
            main .main-slider .container .main__slider-container .swiper-navigation .swiper-buttons .swiper-button-prev {
              background-image: url("../img/arrow-l.png"); }
            main .main-slider .container .main__slider-container .swiper-navigation .swiper-buttons .swiper-button-prev,
            main .main-slider .container .main__slider-container .swiper-navigation .swiper-buttons .swiper-button-next {
              position: static;
              margin-top: 0;
              width: 2.5rem;
              height: 1.8rem;
              background-size: 2.5rem 1.8rem; }

footer {
  border-top: 0.1rem solid #C9CDCD;
  background: #F2F2F2; }
  footer .container {
    padding: 5.5rem 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .container .footer-company-logo {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      footer .container .footer-company-logo img {
        margin-right: 2rem; }
      footer .container .footer-company-logo .text {
        width: 24rem;
        line-height: 2.4rem; }
    footer .container .request-logo {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      footer .container .request-logo img {
        width: 4.4rem;
        height: 4.4rem; }
      footer .container .request-logo .text {
        width: 20.4rem;
        margin-right: 2rem; }
        footer .container .request-logo .text span {
          text-transform: uppercase;
          text-decoration: underline; }
