@font-face {
  font-family: "Gilroy Regular";
    font-family-src: url("../fonts/gilReg/gilroy-regular.ttf");
      font-family-src-font-display: swap; }

@font-face {
  font-family: "Gilroy Light";
    font-family-src: url("../fonts/gilLig/Gilroy-Light.ttf");
      font-family-src-font-display: swap; }

@font-face {
  font-family: "Gilroy Extra Light";
    font-family-src: url("../fonts/gilExLight/Gilroy-UltraLight.ttf");
      font-family-src-font-display: swap; }

@font-face {
  font-family: "Gilroy Medium";
    font-family-src: url("../fonts/gilMed/gilroy-medium.ttf");
      font-family-src-font-display: swap; }

@font-face {
  font-family: "Gilroy Bold";
    font-family-src: url("../fonts/gilBold/gilroy-bold.ttf");
      font-family-src-font-display: swap; }

@font-face {
  font-family: "Gilroy Extra Bold";
    font-family-src: url("../fonts/gilExBold/Gilroy-ExtraBold.ttf");
      font-family-src-font-display: swap; }

@font-face {
  font-family: "Gilroy Semi Bold";
    font-family-src: url("../fonts/gilSemBold/gilroy-semibold.ttf");
      font-family-src-font-display: swap; }

* {
  box-sizing: border-box; }

html {
  font-family: "Gilroy Regular", sans-serif;
  font-size: 62.5%;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000; }

body, input, textarea {
  font-family: "Gilroy Regular", sans-serif;
  font-size: 62.5%;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  position: relative;
  margin: 0;
  padding: 0; }

a, a:hover {
  text-decoration: none; }

button, input, a, textarea {
  outline: none;
  cursor: pointer; }
  button:focus, input:focus, a:focus, textarea:focus {
    outline: none; }
  button:active, input:active, a:active, textarea:active {
    outline: none; }

h1, h2, h3, h4, h5, h6 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: unset;
  margin: 0;
  padding: 0; }

p {
  margin-top: 0;
  margin-bottom: 0; }

img {
  max-width: 100%;
  vertical-align: middle;
    vertical-align-width: 100%; }

.btn {
  border: none; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  width: 140rem;
  margin: 0 auto;
  position: relative;
  max-width: unset; }

.hidden {
  overflow: hidden; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

@media (max-width: 108em) {
  html {
    font-size: 9px; } }

@media (max-width: 105em) {
  html {
    font-size: 8.75px; } }

@media (max-width: 91.5em) {
  html {
    font-size: 7.9px; } }

@media (max-width: 91em) {
  html {
    font-size: 8.4px; } }

@media (max-width: 90em) {
  html {
    font-size: 7.9px; } }

@media (max-width: 80em) {
  html {
    font-size: 7.2px; } }

@media (max-width: 72em) {
  html {
    font-size: 6.5px; } }

@media (max-width: 68em) {
  html {
    font-size: 6px; } }

@media (max-width: 64em) {
  html {
    font-size: 5.5px; } }

@media (max-width: 60em) {
  html {
    font-size: 5.2px; } }

@media (max-width: 55em) {
  html {
    font-size: 5px; } }

@media (max-width: 51em) {
  html {
    font-size: 4.5px; } }

@media (max-width: 48em) {
  html {
    font-size: 10px;
    -webkit-text-size-adjust: none; }
  body {
    -webkit-text-size-adjust: none; }
  .container {
    padding: 0;
    margin: 0 auto;
    width: 100%; } }

@media (max-width: 44em) {
  html {
    font-size: 9px; } }

@media (max-width: 38em) {
  html {
    font-size: 8px; } }

@media (max-width: 34em) {
  html {
    font-size: 7px; } }

@media (max-width: 30em) {
  html {
    font-size: 6px; } }

@media (max-width: 26em) {
  html {
    font-size: 5px; } }

@media (max-width: 22.5em) {
  html {
    font-size: 4.5px; } }

@media (max-width: 21em) {
  html {
    font-size: 4.4px; } }

.titleMain {
  font-size: 5rem;
  font-family: "Gilroy Extra Bold", sans-serif; }

.titleBig {
  font-size: 3rem;
  font-family: "Gilroy Bold", sans-serif; }

.title {
  font-size: 1.8rem;
  font-family: "Gilroy Semi Bold", sans-serif; }

.link {
  font-size: 1.5rem;
  font-family: "Gilroy Medium", sans-serif;
  text-decoration: none;
  color: #000; }

.text {
  font-size: 1.6rem;
  font-family: "Gilroy Regular", sans-serif;
  text-decoration: none;
  color: #000; }

header .menu {
  z-index: 100;
  width: 140rem;
  height: 7.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.8rem;
  padding-bottom: 1.3rem;
  position: absolute;
  margin: 0 auto;
  top: 0; }
  header .menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .menu .link {
    text-transform: uppercase;
    color: #fff;
    margin-right: 3.5rem; }
  header .menu .contacts {
    display: flex;
    justify-content: center;
    align-items: center; }
    header .menu .contacts .contacts-text {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: #fff;
      margin-right: 1.5rem; }
      header .menu .contacts .contacts-text .text {
        color: #fff; }
    header .menu .contacts .icon {
      width: 3.1rem;
      height: 3.1rem; }
      header .menu .contacts .icon img {
        width: 3.1rem; }

main .slider .swiper-container {
  height: 65rem; }
  main .slider .swiper-container .swiper-pagination {
    font-size: 3rem;
    color: #fff; }
  main .slider .swiper-container .swiper-wrapper .swiper-slide {
    background: linear-gradient(103.73deg, rgba(0, 0, 0, 0.37) 27.13%, rgba(0, 0, 0, 0) 64.84%), linear-gradient(87.3deg, rgba(0, 0, 0, 0.37) 18.53%, rgba(0, 0, 0, 0) 50.93%), url("../img/header-bg.png") no-repeat; }
    main .slider .swiper-container .swiper-wrapper .swiper-slide .slide1 {
      height: 65rem;
      background: linear-gradient(103.73deg, rgba(0, 0, 0, 0.37) 27.13%, rgba(0, 0, 0, 0) 64.84%), linear-gradient(87.3deg, rgba(0, 0, 0, 0.37) 18.53%, rgba(0, 0, 0, 0) 50.93%), url("../img/header-bg.png") no-repeat;
      background-size: cover; }
    main .slider .swiper-container .swiper-wrapper .swiper-slide .slide2 {
      height: 65rem;
      background: url("../img/slide2.png") no-repeat;
      background-size: cover; }
    main .slider .swiper-container .swiper-wrapper .swiper-slide .slide1,
    main .slider .swiper-container .swiper-wrapper .swiper-slide .slide2 {
      display: flex;
      align-items: center; }
      main .slider .swiper-container .swiper-wrapper .swiper-slide .slide1 .container,
      main .slider .swiper-container .swiper-wrapper .swiper-slide .slide2 .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 9rem; }
        main .slider .swiper-container .swiper-wrapper .swiper-slide .slide1 .container .slide-left,
        main .slider .swiper-container .swiper-wrapper .swiper-slide .slide2 .container .slide-left {
          width: 28rem;
          position: relative; }
          main .slider .swiper-container .swiper-wrapper .swiper-slide .slide1 .container .slide-left .slider-nav .swiper-pagination,
          main .slider .swiper-container .swiper-wrapper .swiper-slide .slide2 .container .slide-left .slider-nav .swiper-pagination {
            position: static;
            text-align: left;
            font-family: "Gilroy Regular", sans-serif;
            font-size: 2rem;
            font-weight: 400; }
            main .slider .swiper-container .swiper-wrapper .swiper-slide .slide1 .container .slide-left .slider-nav .swiper-pagination .swiper-pagination-current,
            main .slider .swiper-container .swiper-wrapper .swiper-slide .slide2 .container .slide-left .slider-nav .swiper-pagination .swiper-pagination-current {
              font-family: "Gilroy Medium", sans-serif;
              font-size: 4rem;
              font-weight: 600; }
            main .slider .swiper-container .swiper-wrapper .swiper-slide .slide1 .container .slide-left .slider-nav .swiper-pagination .swiper-pagination-total,
            main .slider .swiper-container .swiper-wrapper .swiper-slide .slide2 .container .slide-left .slider-nav .swiper-pagination .swiper-pagination-total {
              font-family: "Gilroy Regular", sans-serif;
              font-size: 2rem;
              font-weight: 400; }
          main .slider .swiper-container .swiper-wrapper .swiper-slide .slide1 .container .slide-left .left-slide-text .title,
          main .slider .swiper-container .swiper-wrapper .swiper-slide .slide1 .container .slide-left .left-slide-text .text,
          main .slider .swiper-container .swiper-wrapper .swiper-slide .slide2 .container .slide-left .left-slide-text .title,
          main .slider .swiper-container .swiper-wrapper .swiper-slide .slide2 .container .slide-left .left-slide-text .text {
            color: #fff;
            font-size: 1.5rem;
            font-family: "Gilroy Light", sans-serif; }
          main .slider .swiper-container .swiper-wrapper .swiper-slide .slide1 .container .slide-left .left-slide-text .title,
          main .slider .swiper-container .swiper-wrapper .swiper-slide .slide2 .container .slide-left .left-slide-text .title {
            margin-bottom: 2rem;
            font-weight: 700;
            font-family: "Gilroy Medium", sans-serif; }
        main .slider .swiper-container .swiper-wrapper .swiper-slide .slide1 .container .slide-right,
        main .slider .swiper-container .swiper-wrapper .swiper-slide .slide2 .container .slide-right {
          width: 50rem; }
        main .slider .swiper-container .swiper-wrapper .swiper-slide .slide1 .container .right-slide-text .titleBig,
        main .slider .swiper-container .swiper-wrapper .swiper-slide .slide1 .container .right-slide-text .titleMain,
        main .slider .swiper-container .swiper-wrapper .swiper-slide .slide1 .container .right-slide-text .text,
        main .slider .swiper-container .swiper-wrapper .swiper-slide .slide2 .container .right-slide-text .titleBig,
        main .slider .swiper-container .swiper-wrapper .swiper-slide .slide2 .container .right-slide-text .titleMain,
        main .slider .swiper-container .swiper-wrapper .swiper-slide .slide2 .container .right-slide-text .text {
          color: #fff; }
        main .slider .swiper-container .swiper-wrapper .swiper-slide .slide1 .container .right-slide-text .titleBig,
        main .slider .swiper-container .swiper-wrapper .swiper-slide .slide2 .container .right-slide-text .titleBig {
          font-size: 2rem;
          font-weight: 700; }
        main .slider .swiper-container .swiper-wrapper .swiper-slide .slide1 .container .right-slide-text .titleMain,
        main .slider .swiper-container .swiper-wrapper .swiper-slide .slide2 .container .right-slide-text .titleMain {
          margin: 5rem auto;
          font-weight: 700;
          line-height: 6.2rem; }
        main .slider .swiper-container .swiper-wrapper .swiper-slide .slide1 .container .right-slide-text .text,
        main .slider .swiper-container .swiper-wrapper .swiper-slide .slide2 .container .right-slide-text .text {
          width: 45.5rem; }

main .mini-info {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1E4653), color-stop(60%, #1E4653), color-stop(60%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  height: 21.6rem; }
  main .mini-info .container {
    display: flex;
    align-items: center; }
    main .mini-info .container .mini-left {
      width: 87rem;
      padding: 3.5rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      main .mini-info .container .mini-left img {
        height: 14.5rem; }
      main .mini-info .container .mini-left .info-left,
      main .mini-info .container .mini-left .info-right {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 38rem; }
        main .mini-info .container .mini-left .info-left .title,
        main .mini-info .container .mini-left .info-right .title {
          font-size: 1.6rem;
          font-family: "Gilroy Bold", sans-serif;
          color: #fff;
          margin-bottom: 1.5rem;
          font-weight: 700; }
        main .mini-info .container .mini-left .info-left .text,
        main .mini-info .container .mini-left .info-right .text {
          font-size: 1.6rem;
          color: #fff;
          font-family: "Gilroy Light", sans-serif;
          font-weight: 300; }
      main .mini-info .container .mini-left .info-right {
        padding-right: 0rem; }
    main .mini-info .container .mini-right {
      width: 52rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 5rem 0;
      padding-left: 8rem; }
      main .mini-info .container .mini-right .right-container {
        width: 36rem; }
        main .mini-info .container .mini-right .right-container .title {
          font-size: 1.8rem;
          font-family: "Gilroy Bold", sans-serif;
          margin-bottom: 1.5rem;
          font-weight: 700;
          color: #383838; }
        main .mini-info .container .mini-right .right-container .text {
          font-size: 1.6rem;
          font-family: "Gilroy Light", sans-serif;
          font-weight: 300;
          margin-bottom: 1.5rem;
          color: #383838; }
        main .mini-info .container .mini-right .right-container .link {
          font-size: 1.6rem;
          font-family: "Gilroy Light", sans-serif;
          font-weight: 300;
          color: #383838; }
          main .mini-info .container .mini-right .right-container .link::after {
            content: '>';
            margin-left: 1rem; }

main .mini-info:after {
  content: '';
  position: absolute;
  right: 0;
  width: 40%;
  height: 21.6rem;
  background-color: #fff;
  z-index: -1; }

main .main-about {
  background: #1A3C47;
  height: 77rem; }
  main .main-about .container {
    display: flex;
    align-items: flex-end; }
    main .main-about .container .items {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 18rem; }
      main .main-about .container .items .titleMain {
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 5rem; }
        main .main-about .container .items .titleMain span {
          color: #BDB0A0; }
      main .main-about .container .items .items-container {
        display: flex;
        justify-content: center; }
        main .main-about .container .items .items-container .item {
          position: relative;
          width: 35rem;
          height: 54.4rem; }
          main .main-about .container .items .items-container .item img {
            position: absolute; }
          main .main-about .container .items .items-container .item .bloom {
            width: 100%;
            height: 100%;
            position: absolute;
            background: linear-gradient(150.86deg, #2D3238 7.79%, #4D5156 96.75%), linear-gradient(153.55deg, #515349 4.2%, #8C8C8C 96.78%), rgba(41, 41, 47, 0.1);
            opacity: .3; }
          main .main-about .container .items .items-container .item .item-text {
            position: relative;
            padding: 5rem 2rem; }
            main .main-about .container .items .items-container .item .item-text .title,
            main .main-about .container .items .items-container .item .item-text .text {
              color: #fff;
              position: relative; }
            main .main-about .container .items .items-container .item .item-text .title {
              margin-bottom: 1.5rem; }
          main .main-about .container .items .items-container .item .link {
            color: #fff;
            position: absolute;
            bottom: 10rem;
            left: -6rem;
            transform: rotate(-90deg);
            text-transform: uppercase;
            letter-spacing: 1rem; }

main .sliders {
  background: linear-gradient(180deg, #1A3C47 0%, #11252C 100%); }
